* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1ebeb !important;
}

.botoes {
    margin-top: 10px;
    color: #333333 !important;
}

#formulario {
    max-width: 900px;
    margin: 5% auto 0 auto;
}

#container {
    width: 150%;
    margin: 0 auto;
}

.header {
    background-color: #beb3b3ab;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    #formulario {
        margin-top: 40% auto 0 auto;
    }

}